.git
.github
.idea
.mypy_cache
.pytest_cache
.ruff_cache
.venv
.vscode
__pycache__
*.egg-info
*.py[cod]
*.sqlite3
.coverage
coverage.xml
htmlcov
dist
docs
examples
tests
.env
.env.*
!.env.example
compose*.yaml
Dockerfile*
